logic-app-templates/sentinel-incident-to-servicenow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Minute",
          "interval": 15
        }
      }
    },
    "actions": {
      "Get_new_alerts_from_Sentinel": {
        "type": "ApiConnection",
        "runAfter": {},
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azuresentinel']['connectionId']"
            }
          },
          "method": "get",
          "path": "/Incidents",
          "queries": {
            "status": "New"
          }
        }
      },
      "Filter_high_severity_incidents": {
        "type": "Query",
        "runAfter": {
          "Get_new_alerts_from_Sentinel": ["Succeeded"]
        },
        "inputs": {
          "from": "@body('Get_new_alerts_from_Sentinel')?['value']",
          "where": "@greaterOrEquals(item()?['properties']?['severity'], 'High')"
        }
      },
      "For_each_high_severity_incident": {
        "type": "Foreach",
        "foreach": "@body('Filter_high_severity_incidents')",
        "runAfter": {
          "Filter_high_severity_incidents": ["Succeeded"]
        },
        "actions": {
          "Get_ServiceNow_credentials": {
            "type": "ApiConnection",
            "runAfter": {},
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['keyvault']['connectionId']"
                }
              },
              "method": "get",
              "path": "/secrets/servicenow-instance-url"
            }
          },
          "Check_if_ticket_already_exists": {
            "type": "Http",
            "runAfter": {
              "Get_ServiceNow_credentials": ["Succeeded"]
            },
            "inputs": {
              "method": "GET",
              "uri": "@concat(body('Get_ServiceNow_credentials')?['value'], '/api/now/table/incident?sysparm_query=correlation_id=', items('For_each_high_severity_incident')?['name'])"
            }
          },
          "Condition_ticket_exists": {
            "type": "If",
            "runAfter": {
              "Check_if_ticket_already_exists": ["Succeeded"]
            },
            "expression": {
              "greater": [
                "@length(body('Check_if_ticket_already_exists')?['result'])",
                0
              ]
            },
            "actions": {
              "Skip_duplicate_and_log": {
                "type": "ApiConnection",
                "inputs": {
                  "host": {
                    "connection": {
                      "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                    }
                  },
                  "method": "post",
                  "path": "/v1/workspaces/@{encodeURIComponent('<your-log-workspace>')}/tables/IncidentAutomationLog_CL",
                  "body": {
                    "IncidentId": "@items('For_each_high_severity_incident')?['name']",
                    "Action": "skipped_duplicate",
                    "Timestamp": "@utcNow()"
                  }
                }
              }
            },
            "else": {
              "actions": {
                "Create_ServiceNow_incident": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@concat(body('Get_ServiceNow_credentials')?['value'], '/api/now/table/incident')",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "short_description": "@concat('Sentinel Incident: ', items('For_each_high_severity_incident')?['properties']?['title'])",
                      "urgency": "1",
                      "correlation_id": "@items('For_each_high_severity_incident')?['name']",
                      "description": "@items('For_each_high_severity_incident')?['properties']?['description']"
                    }
                  },
                  "retryPolicy": {
                    "type": "fixed",
                    "count": 2,
                    "interval": "PT10S"
                  }
                },
                "Log_success": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Create_ServiceNow_incident": ["Succeeded"]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v1/workspaces/@{encodeURIComponent('<your-log-workspace>')}/tables/IncidentAutomationLog_CL",
                    "body": {
                      "IncidentId": "@items('For_each_high_severity_incident')?['name']",
                      "Action": "ticket_created",
                      "ServiceNowNumber": "@{body('Create_ServiceNow_incident')?['result']?['number']}",
                      "Timestamp": "@utcNow()"
                    }
                  }
                },
                "Log_failure": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Create_ServiceNow_incident": ["Failed", "TimedOut"]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v1/workspaces/@{encodeURIComponent('<your-log-workspace>')}/tables/IncidentAutomationLog_CL",
                    "body": {
                      "IncidentId": "@items('For_each_high_severity_incident')?['name']",
                      "Action": "ticket_creation_failed",
                      "HttpStatus": "@{outputs('Create_ServiceNow_incident')?['statusCode']}",
                      "Timestamp": "@utcNow()"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "outputs": {}
  },
  "parameters": {
    "$connections": {
      "value": {
        "azuresentinel": {
          "connectionId": "<your-connection-id>",
          "connectionName": "azuresentinel",
          "id": "<your-managed-api-id>"
        },
        "keyvault": {
          "connectionId": "<your-connection-id>",
          "connectionName": "keyvault",
          "id": "<your-managed-api-id>"
        },
        "azureloganalyticsdatacollector": {
          "connectionId": "<your-connection-id>",
          "connectionName": "azureloganalyticsdatacollector",
          "id": "<your-managed-api-id>"
        }
      }
    }
  }
}
